#!name=Turrit 外链跳转
#!desc=Telegram/Turrit 外链增强跳转
#!author=Liano

hostname=t.me,telegram.me,www.t.me,www.telegram.me

^https?:\/\/(www\.)?(t\.me|telegram\.me)\/.* url script-request-header https://raw.githubusercontent.com/happier1125/Ad-remove-plugin/main/TG_Turrit_Loon.js
